# ISE/ISim outputs; source, project and constraint files remain tracked.
*.bit
*.ngc
*.ngd
*.ncd
*.pcf
*.ngm
*.syr
*.bld
*.bgn
*.drc
*.lso
*.map
*.mrp
*.pad
*.par
*.ptwx
*.twr
*.twx
*.xpi
*.xrpt
*.unroutes
*.xwbt
*.exe
*.exe.sim/
*.wdb
fuse.log
fuse.xmsgs
fuseRelaunch.cmd
isim.log
isim/
_xmsgs/
xst/
iseconfig/
xlnx_auto_0_xdb/
hdmi_pad.csv
hdmi_pad.txt
hdmi_summary.xml
hdmi_summary.html
hdmi_usage.xml
netlist.lst
par_usage_statistics.html
